<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Upload a photo to your account below</p>
    <form class="" enctype="multipart/form-data" method="post">
      <p><input type="text" name="photo[name]" placeholder="Name" value=""></p>
      <p><input type="file" name="photo[image]" ></p>
      <p><input type="submit" name="" value="Upload"></p>
    </form>
  </body>
</html>
